body {
  background-image: url('https://cdn.discordapp.com/attachments/1088111939474956389/1089509199731507281/thilonel_An_electrifying_ultra-realistic_photograph_of_a_cyberp_5fdc7d09-f9f9-4701-a2af-a16a5b5a794c.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.heading {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.subheading {
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
}

.button {
  display: inline-block;
  background-color: #fff;
  color: #121212;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.button:hover {
  background-color: #ff5e33;
  color: #fff;
  cursor: pointer;
}

.note {
  font-size: 12px;
  margin-top: 50px;
  text-align: center;
}
