@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
    height: 100%;
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 500px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
}

.heading {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.subheading {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
}

.note {
    font-size: 12px;
    margin-top: 50px;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    body {
        background-size: cover;
    }

    .container {
        margin-top: 20px;
    }

    .logo {
        max-width: 80%;
    }

    .heading {
        font-size: 2rem;
    }

    .subheading {
        font-size: 1.5rem;
    }

    .note {
        font-size: 0.8rem;
    }
}